.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo2{
    background-color: hsl(213, 19%, 18%);

}
.logo2 img{
    background-color: hsl(213, 19%, 18%);
}
.select{
    display: flex; 
    justify-content: center;
    align-items: center;
    color: hsl(25, 97%, 53%);
    height: 2.2rem;
    width: 13rem;
    border-radius: 17px;
    background-color: hsl(210, 5%, 16%);
}
.thanks{
    font-size: 2rem;
    background-color: hsl(213, 19%, 18%);
    font-weight: 700;
}
.app{
    text-align: center;
    font-size: 15px;
    background-color: hsl(213, 19%, 18%);
    
    color:rgb(179, 179, 179);

}
.container2{
    display: none;
}