body{
    background-color: white;
    margin-left: 0px; /*browser me phle se default seetings hoti to esko change krnek liye*/
}
.style{
    background-color:aquamarine;
}
.style h1{
   margin-top:-10px;
}