
        
body{
    background-color: khaki;
}


hr{
   /*  background-color: lawngreen;  there is no change because every browser has already default css */
   /* border-style:dotted;  ye to bs uper ko krega   */
    /*pure ko krane k liye*/

   /* border-right-style:none;
    border-bottom-style:none;
    border-left-style:none; */
/* or */
    border-style:none;
    border-top:6px dotted red;
    
    height:0px; /* 0 for dotted*/
    width:100px;
    
}
img{
    border-radius:100%;
   
}
img:hover{
    background-color: rgb(37, 187, 37);
    cursor:pointer;
}
/*****   by classes *****/
.p1{
    color:rgb(37, 187, 37);
}
#h1 {
    color:rgb(77, 146, 206);
    font-family:cursive;
    font-size:40px;
}

