@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;800&family=Fraunces:opsz,wght@9..144,900&family=Karla:wght@500;600;700&family=Kumbh+Sans:wght@400;500;700;900&family=League+Spartan:wght@500;700&family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;1,100;1,200;1,300;1,500;1,700&family=Open+Sans:wght@400;600;700&family=Overpass:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(hsl(273, 75%, 66%) , hsl(240, 73%, 65%));
}
.container{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    background-color: white;
    height: 29rem;
    width: 53rem;
    position: absolute;
    overflow: hidden;
    border-radius: 22px;
   
}
.image{
    align-self: center;
    height: 29rem;
    width: 23rem;
    /* border:2px solid brown; */
    display: flex;
    align-items: center;
    overflow: hidden;
    background-image: url('images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 37rem;
    background-position: -18rem -5rem;
}
.image img{
    height: 19rem;
    width: 23rem;
    position: absolute;
left: -59px;
}
 #box{
    z-index: 2;
    height: 9rem;
    width: 9rem;
    position: relative;
    left: -425px;
    top: 42px;
}


/*  */

.inside{
    color:hsl(0, 1%, 39%);
    padding: 0.7rem 0;
    display: flex;
    /* border: 2px solid green; */
    border-bottom: 1.4px solid hsl(240, 5%, 91%);
    justify-content: space-between;
}
.inside .img1 img{
    width: 0.8rem;
    height: 0.6rem;
}
/*  */
.queries{
    display: flex;
    flex-direction: column;
    /* border: 2px solid aqua; */
    /* border: 2px solid red; */
    width: 25rem;
    padding: 3rem 0;
    gap:1rem;
}

.faq{
    font-size: 2rem;
    font-weight: 600;
}

#icon1:hover , #icon2:hover , #icon3:hover , #icon4:hover , #icon5:hover{
    cursor: pointer;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25rem;
}
.mobile{
    display: none;
}